/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */

.container{
    display: flex;
}
.jumbotron{
    background-color: rgb(139, 233, 236);
    padding: 25px;
    border-radius: 14px;
    width: max-content;
    height: fit-content;
    color: darkblue;
    margin: 30px auto;
    align-items: center;
    position:relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;    
}
button{
    border: none;
    border-radius: 4px;
    color: white;
    background-color: darkblue;
    height: 40px;
}
button:focus{
    outline: none;
}
.jumbotron h2{
    color: darkblue;
    text-decoration: underline;
}
.flex{
    display: flex;
    flex-direction: row;
}
.jumbotron input{
    border-radius: 12px;
    /* margin: 0px 15px 0px 10px; */
    border:1px;
    outline: none;
}
.jumbotron i{
    margin: 0 5px;
    color: #aaa;
}
